<h2 class="sub-header">所用用户</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=1; i<=list.length; i++){ %>
      <tr>
        <td><%= i%></td>
        <td><%= list[i-1].username %></td>
        <td><%= list[i-1].email %></td>
        <td><%= list[i-1].tel %></td>
        <td>
          <a href="javascript:void(0)" class="btn btn-primary btn-sm">审核</a>
          <a href="javascript:void(0)" class="btn btn-danger btn-sm">封禁</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="pull-right">
    <nav aria-label="Page navigation " style="margin-right: 20px">
      <ul class="pagination">
        <li class="<%= pageNo == 1 ? 'disabled':'' %> Back">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% for(var i=1; i<= pageCount; i++){ %>
        <li class="<%= i == pageNo ? 'active':'' %>"><a href="#"><%= i %></a></li>
        <% } %>
        <li class="<%= pageNo == pageCount ? 'disabled':'' %> Next">
          <a href="#">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
  </nav>
  </div>
</div>

